#demo{
  position: relative;
}

.container{
  overflow: auto;
}

.calender{
  margin: 2em auto;
}

.selectedDate,
.selectedDepartment,
.selectedDoctor{
  width: 360px;
  display: block;
  margin: 0 auto;
  margin-top: 8px;
}

.leftContainer{
  padding-left: 1.8em;
}

.rightContainer{
  padding: 3em;
}

.doctors{
  width: 160px;
  height: 30px;
  margin-left: 15px;
}

.showButton{
  display: block;
  margin: 0 auto;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  transition: all 0.4s ease 0s;
}
.showButton:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
cursor: pointer;
transition: all 0.4s ease 0s;
}
